@use './scss/variables' as *;
@use './scss/utils' as *;

* {
  margin: unset;
  color: $gray-dark;
}

html {
  font-family: 'Montserrat', sans-serif;
  padding: unset;

  &:has(.Cart) {
    overflow: hidden;
  }
}

body {
  padding: unset;
}
